venv
./venv
__pycache__
*.pyc
.ipynb_checkpoints
.DS_Store
.env
.env.*
.idea
.vscode
*.log
data/

mlruns/
ambient_scribe_teacher.egg-info/
src/__pycache__/
src/evaluation/__pycache__/

mlflow.db

data
unsloth_compiled_cache
unsloth_compiled_cache/

