venv
./venv
__pycache__
*.pyc
.ipynb_checkpoints
.DS_Store
.env
.env.*
.idea
.vscode
*.log
data/

mlruns/
ambient_scribe_teacher.egg-info/
src/__pycache__/
src/evaluation/__pycache__/

mlflow.db

data
unsloth_compiled_cache
unsloth_compiled_cache/

demographics_patterns.py

evaluation_results_phi/
evaluation_results_phi_more_tokenize/

benchmark
benchmark/

notebooks/logprobs_analysis_output/*.png
notebooks/smile_results/*.png

medcon_results/
final_eval_phi
final_eval_llama3b
final_eval_llama1b

results/dissertation_plots_final/rag_architecture_diagram.md


notebooks/rag_composite.ipynb
notebooks/rag_plots.ipynb

test_openai.py
rag_arch.txt